<h4>Messages</h4>
<ul id='messages_content'  class="friends_list">
</ul>

<div class="input-group">
    <span class="input-group-addon">:)</span>
    <input type="text" class="form-control message_body">
    <span class="input-group-btn">
      <button class="btn btn-primary send_message" type="button">Send</button>
    </span>
</div>