<li class="each_friend_in_list">
    <div class="messages_image" >
        <img src="/images/deactivated_100.gif" alt="image" height="50" width="50"/>
    </div>
    <div class="friend_info" >

            <p>{{body}}</p>
            <small class="created_at text-muted">{{created_at}}, By {{user.username}}</small>
            <small><cite title="Source Title">{{ messages.body }}</cite></small>

    </div>
    <div class="friend_actions">
        <button type="button" class="close remove_message pull-right" aria-hidden="true">&times;</button>
    </div>

</li>


