<div class="navbar navbar-default navbar-fixed-top navbar-collapse collapse navbar-inverse-collapse">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Bootswatch</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a tabindex="-1" href="../default/">Default</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="../amelia/">Amelia</a></li>
                        <li><a tabindex="-1" href="../cerulean/">Cerulean</a></li>
                        <li><a tabindex="-1" href="../cosmo/">Cosmo</a></li>
                        <li><a tabindex="-1" href="../cyborg/">Cyborg</a></li>
                        <li><a tabindex="-1" href="../flatly/">Flatly</a></li>
                        <li><a tabindex="-1" href="../journal/">Journal</a></li>
                        <li><a tabindex="-1" href="../readable/">Readable</a></li>
                        <li><a tabindex="-1" href="../simplex/">Simplex</a></li>
                        <li><a tabindex="-1" href="../slate/">Slate</a></li>
                        <li><a tabindex="-1" href="../spacelab/">Spacelab</a></li>
                        <li><a tabindex="-1" href="../united/">United</a></li>
                        <li><a tabindex="-1" href="../yeti/">Yeti</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../help/">Help</a>
                </li>
                <li>
                    <a href="http://news.bootswatch.com">Blog</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li><a tabindex="-1" href="./bootstrap.min.css">bootstrap.min.css</a></li>
                        <li><a tabindex="-1" href="./bootstrap.css">bootstrap.css</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="./variables.less">variables.less</a></li>
                        <li><a tabindex="-1" href="./bootswatch.less">bootswatch.less</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
                <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
            </ul>

        </div>
    </div>
</div>

<div class="main_site">
    <div class="header-container" id="menu-container"></div>
    <div class="main_chat"></div>
    <div class="row">
        <div class='col-md-3'>
                <ul class="nav nav-pills nav-stacked left_menu">
                    <li class="menu_main_page"><a href="javascript:;"><i class="fa fa-home fa-fw"></i> My page</a></li>
                    <li class="menu_friends"><a href="javascript:;"><i class="fa fa-user fa-fw"></i> Fiends<span class="badge pull-right new_friend_badge">{{invitations}}</span></a></li>
                    <li class="menu_messages"><a href="javascript:;"><i class="fa fa-envelope-o fa-fw"></i>Messages<span class="badge pull-right new_messages_badge">{{messages}}</span></a>
                    <li class="menu_users"><a href="javascript:;"><i class="fa fa-user fa-fw"></i> All People</a></li></li>
                    <li class="menu_settings"><a href="javascript:;"><i class="fa fa-cogs fa-fw"></i> Settings</a></li>
                </ul>
        </div>

        <div class="" >
          <div class='col-md-6'  id="page-container">
          </div>
        </div>
        <div class="col-md-2">

            <div class="panel panel-primary">
                <div class="panel-heading">News</div>
                <div class="panel-body">
                    <img src="http://asset2.cbsistatic.com/cnwk.1d/i/tim/2010/09/28/0927LazaridisPlayBook_270x203.jpg" alt="news" class="img-thumbnail" >
                    Mike Lazaridis, a BlackBerry co-founder and former co-CEO, has officially ditched his plans to acquire the company through a joint bid with a fellow co-founder.
                    In dissolving the plan, Lazaridis' stake in the sagging company is now 4.99 percent.
                    Lazaridis made his decision public in a Securities and Exchange Commission filing on Tuesday. Under the now-defunct plan, which was announced in October, Lazaridis and fellow co-founder Douglas Fregin had combined stakes to reach 8 percent total ownership and said they were considering a purchase of the company. Last month, however, BlackBerry took itself off the market, and new management is trying to turn the company around.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Panel content
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
        </div>
        <a href="#top" class="arrow_up"><i class="fa fa-chevron-up fa-3x"></i></a>
    </div>
</div>

<script type="text/javascript">
    var elem = $('.left_menu');
    var elem_heigth = elem.offset().top+ elem.height() ;
    var arrow = $(".arrow_up");
    $(document).on('scroll', function(){
       if(window.pageYOffset > elem_heigth ){
           if(arrow.is( ":hidden" )){
             arrow.clearQueue();
             arrow.stop();
             arrow.css('display','block');
             arrow.css('left','0');
             arrow.animate({
                   opacity: 1,
                   left: "+=50"
               }, 200);
           }
       }else{
           if(arrow.is( ":visible" )){
               arrow.clearQueue();
               arrow.stop();
               arrow.css('left','0');
               arrow.animate({
                   opacity: 0.25,
                   left: "-=50"

               }, 200,function(){
                   arrow.css('display','none');
               });
           }
       }
    })

</script>