<li class="each_friend_in_list">
    <div class="friend_image">
        <img src="images/deactivated_100.gif" alt="image"/>
    </div>
    <div class="friend_info">
        <p> {{username}}</p>
        <p> {{email}}</p>
    </div>
    <div class="friend_actions">
        <p><a href="javascript:;" class="accept_friend">Add to friends</a></p>
        <p><a href="javascript:;" class="start_chat">Start Chat</a></p>
    </div>
</li>



<script type="text/x-handlebars-template" id="user_info_panel">
   <div class="panel panel-default">
       <div class="panel-body">
           {{email}}
       </div>
   </div>
</script>