.friends_list{
    list-style: none;
}
.each_friend_in_list {
    height: 112px;
    padding: 5px;
    border:1px solid rgba(215, 244, 255, 0.52);
    border-collapse:collapse;
    vertical-align: middle;
}
.friends_list .friend_image{
    display: inline-block;
}
.messages_image{
    position: absolute;
}
.friend_actions_menu{
    list-style: none;
    display: inline;
}
.friend_actions p {
    margin:5px 0;
    font-size: 12px;
}
.friend_actions{
    float:right;
    display: inline-block;
    margin-right: 10px;
}
.friend_info{
    margin-left: 115px;
    display: inline-block;

}
.friend_info blockquote{
    margin-bottom: 15px;
}
.main_site{
    margin-top: 50px;
}
.arrow_up{
    display: none;
    position: fixed;
    top:49%;
    left:2%;
}
.wall_message{

}
.not_readed{
    background-color: rgba(0, 160, 250, 0.04);
}
.marked_message{
    background-color: rgba(0, 160, 250, 0.04);
}
.remove_message{
    display: none;
}