<img src="images/user.png" alt="image"/>
<h1>WALL</h1>

<div class="wall_scroll" style="color:black;">
    <div class="wall_message">
        <p>Big news</p>
        <p>oifdgodihsfoigsdfoigdknfgodn
            odfmphgdf
            psmdfgpod
            oifdgodihsfoigsdfoig
        </p>
    </div>
    <div class="wall_message">
        <p>Big news</p>
        <p>oifdgodihsfoigsdfoigdknfgodn
            odfmphgdf
            psmdfgpod
            oifdgodihsfoigsdfoig
        </p>
    </div>
    <div class="wall_message">
        <p>Big news</p>
        <p>oifdgodihsfoigsdfoigdknfgodn
            odfmphgdf
            psmdfgpod
            oifdgodihsfoigsdfoig
        </p>
    </div>
</div>


<script type="text/javascript">
    $(".wall_scroll").slimScroll({
    height: "450px",
    color: '#008cba'
    })
</script>