<!--<div class='col-md-3'>-->
    <!--<ul class="nav nav-pills nav-stacked left_menu">-->
        <!--<li class="menu_main_page"><a href="javascript:;"><i class="fa fa-home fa-fw"></i> My page</a></li>-->
        <!--<li class="menu_friends"><a href="javascript:;"><i class="fa fa-user fa-fw"></i> Fiends<span class="badge pull-right new_friend_badge">{{invitations}}</span></a></li>-->
        <!--<li class="menu_messages"><a href="javascript:;"><i class="fa fa-envelope-o fa-fw"></i>Messages<span class="badge pull-right new_messages_badge">{{messages}}</span></a>-->
        <!--<li class="menu_users"><a href="javascript:;"><i class="fa fa-user fa-fw"></i> All People</a></li></li>-->
        <!--<li class="menu_settings"><a href="javascript:;"><i class="fa fa-cogs fa-fw"></i> Settings</a></li>-->
    <!--</ul>-->
<!--</div>-->


<!--<script type="text/javascript">-->
    <!--var elem = $('.left_menu');-->
    <!--var elem_heigth = elem.offset().top+ elem.height() ;-->
    <!--var arrow = $(".arrow_up");-->
    <!--$(document).on('scroll', function(){-->
        <!--if(window.pageYOffset > elem_heigth ){-->
            <!--if(arrow.is( ":hidden" )){-->
                <!--arrow.clearQueue();-->
                <!--arrow.stop();-->
                <!--arrow.css('display','block');-->
                <!--arrow.css('left','0');-->
                <!--arrow.animate({-->
                    <!--opacity: 1,-->
                    <!--left: "+=50"-->
                <!--}, 200);-->
            <!--}-->
        <!--}else{-->
            <!--if(arrow.is( ":visible" )){-->
                <!--arrow.clearQueue();-->
                <!--arrow.stop();-->
                <!--arrow.css('left','0');-->
                <!--arrow.animate({-->
                    <!--opacity: 0.25,-->
                    <!--left: "-=50"-->

                <!--}, 200,function(){-->
                    <!--arrow.css('display','none');-->
                <!--});-->
            <!--}-->
        <!--}-->
    <!--})-->

<!--</script>-->