<h4>You have <span class="friends_count_badge"></span> friend('s)</h4>

<ul class="nav nav-pills">
    <li class="active"><a href="#my_friends" data-toggle="tab">My friends</a></li>
    <li><a href="#invites" data-toggle="tab">Invitations<span class="badge pull-right invites_count_badge"></span></a></li>
    <li><a href="#my_invites" data-toggle="tab">My Request's<span class="badge pull-right my_invites_count_badge"></span></a></li>
</ul>

<!-- Tab panes -->

<div class="tab-content">

    <div class="tab-pane active" id="my_friends">
    </div>
    <div class="tab-pane" id="invites">
    </div>
    <div class="tab-pane" id="my_invites">
    </div>

</div>


